*::-webkit-input-placeholder
  color: $colordark
  opacity: 1

*:-moz-placeholder
  color: $colordark
  opacity: 1

*::-moz-placeholder
  color: $colordark
  opacity: 1

*:-ms-input-placeholder
  color: $colordark
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: $colordark
body input:required:valid,
body textarea:required:valid
  color: $colordark

\::selection, ::-moz-selection
  background: $white
  color: $colordark

.page-title
  \::selection, ::-moz-selection
    background: $white
    color: $colordark

body
  overflow-x: hidden
  position: relative
  margin: 0
  padding: 0
  font-family: $main-family
  font-weight: $font-weight
  font-size: $font-size
  line-height: $line-height-content
  color: $colordark
  background-color: $white

a, abbr, acronym, address, applet, aside, audio, b, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
  margin: 0
  padding: 0
  border: 0
  vertical-align: baseline

a, input, select, textarea
  outline: none !important
  -webkit-border-radius: 0

select:-moz-focusring
  color: transparent
  outline: none !important
  text-shadow: 0 0 0 #000 !important
  border: 0 !important

textarea
  resize: none

img
  outline: 0
  vertical-align: top
  border: 0
  max-width: 100%
  height: auto

.icon-zoom:before
  content: "\f0b2"
.icon-link:before
  content: "\f0c1"

[class^="icon-"], [class*=" icon-"]
  display: inline-block
  font-family: 'FontAwesome'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

/* Main */
h1, h2, h3, h4, h5, h6
  font-family: $main-family
  font-weight: 700
  font-weight: normal
  letter-spacing: 1.5px

ul
  margin: 0
  padding: 0
  list-style: none

a
  color: $colordark
  &:hover
    color: $primary
    outline: none !important
    text-decoration: none !important
    box-shadow: none !important
    outline: none !important
    text-decoration: none !important
    box-shadow: none !important
  &:active, &:focus
    color: $primary
    outline: none !important
    text-decoration: none !important
    box-shadow: none !important

button:focus, .btn:focus, .form-control:focus
  outline: none !important
  text-decoration: none !important
  box-shadow: none !important

[class^="icon-"], [class*=" icon-"]
  display: inline-block
  font-family: 'FontAwesome'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.primary
  color: $primary
.color-grey
  color: $colordarkLight

/* Megmenu*/
.header-top
  .nameLogo
    font-size: 0.7rem
    font-weight: 700
    line-height: 1rem
    .decrip
      font-size: 0.7rem
  nav ul
    li
      line-height: 1.2rem
      font-size: 0.9rem
      padding-bottom: 5px
      a 
        color: $colordark
        &:hover, &:focus
          color: $primary
          &:after
            opacity: 1
            transform: scale(1)
        &:after
          content: '\f0a9'
          font-family: 'FontAwesome'
          font-size: 1rem
          padding-left: 10px
          opacity: 0
          -webkit-transition: all 0.2s ease-in-out
          transition: all 0.2s ease-in-out
          color: $primary
          transform: scale(0)

/* Search */
.search-box
  background-color: $colordark
  position: absolute
  left: 0px
  right: 0px
  top: 100%
  height: 413px
  opacity: 0
  transform: scaleY(0)
  -webkit-transform: scaleY(0)
  -moz-transform: scaleY(0)
  -ms-transform: scaleY(0)
  transform-origin: 0 0 0
  transition: all 0.4s ease-in-out 0s
  z-index: 101
  &.open
    opacity: 1
    transform: scaleY(1)
    -webkit-transform: scaleY(1)
    -moz-transform: scaleY(1)
    -ms-transform: scaleY(1)
    visibility: visible
  form
    max-width: 607px
    padding-left: 15px
    padding-right: 15px
    display: block
    margin: 170px auto 0
    input
      background-color: transparent
      border: none
      border-bottom: 1px solid $colorgrey
      border-radius: 0
      color: $colorgrey
      font-size: 16px
      padding: 10px 0px 10px 10px
      height: auto
      &:focus
        box-shadow: none
        -webkit-box-shadow: none
        outline: none
        border-color: $white
    button
      display: none
  .close
    position: absolute
    top: 20px
    right: 20px
    font-size: 60px
    cursor: pointer
    text-shadow: none
    &:hover, &:focus
      color: $white
  span
    cursor: pointer

.search-box span i
  color: $white
  float: right
  margin: 30px
  &:hover, &:focus
    color: $white

.highlight
  background: $primary
  color: $white
  padding: 2px 8px

/* Sticky */
.sticky
  &.navbar
    border-radius: 0
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out
  .show-is-sticky
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out
    opacity: 0
    visibility: hidden
  .show-not-sticky
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out
    opacity: 0
    visibility: hidden
    opacity: 1
    visibility: visible
  &.is-sticky
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 1000
    width: 100%
    padding-left: 10px
    .show-is-sticky
      opacity: 1
      visibility: visible
    .show-not-sticky
      opacity: 0
      visibility: hidden

.header
  background-color: $colordark
  color: $white

/* __________ Buttons __________ */
.btn
  margin: 0
  padding: 15px 15px
  border: 2px solid $primary
  border-radius: 0
  box-shadow: none
  text-transform: uppercase
  font-weight: 600
  line-height: 20px
  font-size: 16px
  font-family: $main-family
  color: $primary
  text-shadow: none
  letter-spacing: 1px
  background-image: none !important
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out
  &:focus, &:hover
    color: $white
    border-color: $primary
    background-color: $primary

button
  background-color: $white

.btn-active
  background-color: $colordark
  color: $white
  border-color: $colordark
  &:hover
    color: $white

.btn-dark
  background-color: $colordark
  color: $white
  border-color: $colordark
  &:hover
    color: $white

.btn-white
  background-color: $white
  color: $primary
  border-color: $white
  &:hover
    color: $white
    background-color: $primary

.btn-primary
  background-color: $colordark
  color: $white
  border-color: $white

.btn2
  border-color: $primary
  background-color: $primary
  color: $white
  &:hover
    background-color: lighten($primary, 10%)

.btn-lg
  padding: 19px 30px
  font-size: 1.3rem

.btn-sm
  padding: 6px 10px 5px
  font-size: 0.9rem

.btn-xs
  padding: 2px 12px 3px
  font-size: 0.7rem

.ie
  .btn, .btn-default
    filter: none !important

.baner
  .baner-menu
    display: block
    position: absolute
    left: 0
    top: 20%
    width: 100%
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    color: $white
    padding: 10px
    background-color: rgba($colordark,0.6)
  h5
    line-height: 1.0em
    letter-spacing: 0.01em
    text-align: center

/* Фоны */
.page-title
  background: $colorgrey

/* breadcrumb */
.breadcrumb
  margin: -10px 0 0 0 !important
  background-color: transparent !important
  padding: 0 !important
  font-size: 14px

/* chislo */

.chislo
  background: linear-gradient(to right, $primary3 -50%, $primary 150%)
  color: $white
.chislo-item
  font-size: 18px
  font-family: $main-family
  color: rgba($white,0.7)
  line-height: 21px
  h3
    margin: 0
    text-align: left
    font-size: 30px
    color: rgba($white,0.7)
    font-family: $zag-family
    span
      font-size: 30px
      color: $white
  p
    margin: 12px 0 0

/* Формы */
.form-main
  background: url(../img/bg/04.png) repeat #fc0
  padding: 60px 0
  .form-control
    border-radius: 0rem
  .btn2
    padding: 7px 15px
.menu_form
  text-transform: none
  label
    line-height: 0.8rem
    a 
      color: $primary


/* owl.carousel */
.owl-carousel
  padding: 90px 0 40px 0
  background: linear-gradient(to top,$colordarkLight -50%,$colorgrey 150%);
  .owl-nav
    position: absolute
    top: 25px
    width: 100%
    text-align: right
    right: 20px
    button.owl-prev,  button.owl-next
      position: relative
      z-index: 1
      display: inline-block
      width: 50px
      height: 50px
      margin: 0 0 0 -2px
      border: 2px solid rgba($colordark,0.5)
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      color: rgba($colordark,0.5)
      &:hover
        z-index: 2
        border: 2px solid $primary2
        color: $primary2
      &:before
        position: absolute
        left: 0
        top: 0
        width: 68px
        height: 68px
        font-family: FontAwesome
        text-align: center
        line-height: 66px
        font-size: 32px
        color: $colorgrey
        transition: all 0.3s ease-in-out
        -webkit-transition: all 0.3s ease-in-out
  .item
    background-color: $white
    h4 
      font-size: 1rem
    .link-overlay
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgba(0,0,0,0)
      -webkit-transition: background-color 0.3s ease
      transition: background-color 0.3s ease
      &:before
        display: block
        width: 60px
        height: 60px
        font-size: 1.2rem
        vertical-align: middle
        text-transform: uppercase
        position: absolute
        top: 50%
        left: 50%
        margin: -22px 0 0 -25px
        border: 3px solid $white
        text-align: center
        line-height: 56px
        color: $white
        -webkit-transform: scale(0.8)
        transform: scale(0.8)
        opacity: 0
        -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease
        transition: transform 0.3s ease, opacity 0.3s ease

/* catalog */
.catalog li
  float: left
  padding: 0
  margin: 0
.kuxni-card-detail
  .kuxni-img
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: 50% 50% no-repeat
    background-size: cover
  .card
    box-shadow: none
    border-radius: 0px
    border: 0px
    .card-img-top
      border-radius: 0px
      border: 0px
  .overlay-card-detail
    height: 100%
    width: 100%
    top: 0
    left: 0
    position: absolute
    padding: 20px
    background-color: rgba(0,0,0,.5)
    p 
      line-height: 1.0rem
.card
  box-shadow: none
  .style-content
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    color: $white
    padding: 10px
    background-color: rgba(0,0,0,.5)
  h5
    line-height: 1.0em
    letter-spacing: 0.01em
  .overlay-card
    border-radius: 0px
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    width: 100%
    opacity: 0
    background-color: $colordark
  &:hover
    .overlay-card
      opacity: .8
      .style-content
        opacity: 0
      .text
        color: $white
        position: absolute
        top: 30%
        left: 30%
        transform: translate(-26%, -26%)
        -ms-transform: translate(-26%, -26%)
        right: 0
        font-weight: 400
        font-size: 0.9rem
  .options
    position: absolute
    background: rgba($primary,0.8)
    top: 35px
    left: 0px
    color: $white
    border-radius: 0 25px 25px 0
    padding: 5px 15px
    font-weight: 700
    font-size: 0.8rem
  .card-body
    p 
      line-height: 1.4rem
      margin-bottom: 0

.catalogColor
  .card-body
    padding: 0.25rem 0
    p, small
      line-height: 0.9rem
      font-size: 0.7rem

.view
  position: relative
  overflow: hidden
  cursor: default
  .mask
    position: absolute
    top: 0
    overflow: hidden
    width: 100%
    height: 100%
    background-attachment: fixed
    &:before
      display: block
      width: 60px
      height: 60px
      font-size: 1.2rem
      vertical-align: middle
      text-transform: uppercase
      position: absolute
      top: 50%
      left: 50%
      margin: -22px 0 0 -25px
      border: 3px solid $white
      text-align: center
      line-height: 56px
      color: $white
      opacity: 1
  img
    position: relative
    display: block
  .options
    position: absolute
    background: rgba($primary,0.8)
    top: 35px
    left: 0px
    color: $white
    border-radius: 0 25px 25px 0
    padding: 5px 15px
    font-weight: 700
    font-size: 0.8rem
  video
    position: relative
    display: block
    &.video-intro
      z-index: -100
      top: 50%
      left: 50%
      -webkit-transform: translateX(-50%) translateY(-50%)
      -ms-transform: translateX(-50%) translateY(-50%)
      transform: translateX(-50%) translateY(-50%)
      -webkit-transition: 1s opacity
      -o-transition: 1s opacity
      transition: 1s opacity
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
.overlay .mask
  opacity: 0
  -webkit-transition: all 0.4s ease-in-out
  -o-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out
  &:hover
    opacity: 1
    background: rgba($colordark, 0.6)
.zoom
  img, video
    -webkit-transition: all 0.2s linear
    -o-transition: all 0.2s linear
    transition: all 0.2s linear
  &:hover
    img, video
      -webkit-transform: scale(1.1)
      -ms-transform: scale(1.1)
      transform: scale(1.1)
.flex-center
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  height: 100%
  p
    margin: 0
  ul
    text-align: center
    li
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0

.itemlist
  padding: 20px
  border-bottom: 1px solid #eee

.gallery-title
  font-size: 36px
  color: $primary
  text-align: center
  font-weight: 500
  margin-bottom: 70px
  &:after
    content: ""
    position: absolute
    width: 7.5%
    left: 46.5%
    height: 45px

.filter-button
  font-size: 1rem
  border: 1px solid $colordark
  text-align: center
  color: $colordark
  margin-bottom: 30px
  &:hover
    border: 1px solid $primary
    color: $white
    background-color: $primary
.filter-button.active
  border: 1px solid $primary
  color: $white
  background-color: $primary

/* __________ contact __________
#contact
  padding-top: 0px
  .contact-address.style2
    margin: 0 auto
    border-spacing: 30px 0
    padding: 0
    margin-bottom: 80px
    margin-top: -40px
    li
      vertical-align: top
      padding: 30px
      border: 2px solid rgba(27, 66, 104, 0.1)
      text-align: center
      background: #fff
    i, h5
      margin-bottom: 5px
      margin-top: 10px
    p:last-child
      margin-bottom: 0

.detailContent, #plastik
  p 
    line-height: 1.4rem
  h4
    padding: 10px 0
  ul
    padding: 0 0 10px
    li
      padding: 0px
      list-style: circle
      margin: 0 20px
  ol
    padding: 0 0 10px
    li
      list-style: decimal
      padding: 0px
      margin: 0 20px
  .styleAnonc
    font-family: $zag-family
    font-size: 22px
    font-style: italic
    line-height: 24px
    &:before
      margin-right: 10px
    .styleAnoncxaitek
      &:before
        content: "\203b"
        display: inline-block
        vertical-align: middle
        font: 80px/95% Arial Unicode Ms
        float: left
    .styleAnoncklasika
      &:before
        content: "\205b"
        display: inline-block
        vertical-align: middle
        font: 80px/95% Arial Unicode Ms
        float: left
    .styleAnoncmodern
      &:before
        content: "\2042"
        display: inline-block
        vertical-align: middle
        font: 80px/95% Arial Unicode Ms
        float: left
    .styleAnoncprovanc
      &:before
        content: "\233e"
        display: inline-block
        vertical-align: middle
        font: 80px/95% Arial Unicode Ms
        float: left

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
  color: $white
  background-color: $primary

.nav-pills .nav-link
  -webkit-border-radius: 0rem
  border-radius: 0rem

/* __________ Товары __________ */
.ral
  .ral-color
    width: 50px
    height: 50px
    &:hover
      -webkit-transform: scale(2.5)
      -moz-transform: scale(2.5)
      -o-transform: scale(2.5)
 
.detail
  p 
    line-height: 1.4rem
    margin-bottom: 0
  .base1
    font-size: 0.8rem
  .base2
    font-size: 0.8rem
    margin-top: 10px
  .opis
    line-height: 1.4rem
.options
  position: absolute
  background: rgba($primary,0.8)
  top: 35px
  left: 15px
  color: $white
  border-radius: 0 25px 25px 0
  padding: 5px 15px
  font-weight: 700

/* Преимущества */
.preimushestva
  padding: 70px 0
  h4
    font-size: 24px

.translucent-bg
  color: #ffffff
.translucent-bg h1,
.translucent-bg h2,
.translucent-bg h3,
.translucent-bg h4,
.translucent-bg h5,
.translucent-bg h6
  color: #ffffff

.translucent-bg blockquote footer
  color: #cccccc
.translucent-bg a
  color: #ffffff
.translucent-bg a:hover
  text-decoration: none
.translucent-bg
  -webkit-background-size: cover !important
  -moz-background-size: cover !important
  -o-background-size: cover !important
  background-size: cover !important
  background-position: 50% 0
  background-repeat: no-repeat
  z-index: 1
  position: relative
.translucent-bg
  z-index: 3
.translucent-bg:after
  content: ""
  position: absolute
  top: 0
  left: 0
  z-index: 2
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
.translucent-bg.blue:after
  background-color: rgba(68, 61, 109, 0.7)
.translucent-bg .container
  z-index: 3
  position: relative

.media
  margin-top: 15px
  &:first-child
    margin-top: 0
  overflow: hidden
  zoom: 1

.media-body
  overflow: hidden
  zoom: 1
  width: 10000px
  p 
    line-height: 1.4rem

.media-right, .media > .pull-right
  padding-left: 10px

.media-left, .media > .pull-left
  padding-right: 10px

.media-left, .media-right, .media-body
  display: table-cell
  vertical-align: top

.media-heading
  margin-top: 0
  margin-bottom: 5px
  
/* Иконки */
.icons
  margin-bottom: .7rem
  &:before
    content: attr(data-size)
    line-height: 1.5em
    margin: 0 .5rem 0 0
    vertical-align: middle
    color: $primary

.icons-size--16
  font-size: 16px

.icons-size--32
  font-size: 32px

.icons-size--48
  font-size: 48px

.icons-size--64
  font-size: 64px

.icon
  display: inline-block
  width: 20px
  height: 16px
  background: url() 0 0 no-repeat
  background-image: url(../img/icon-tip.png)
  background-image: url(../img/icon-tip.svg), none
  background-size: auto 100%
  vertical-align: middle
.icon-tip1
  background-position:  0 0
.icon-tip2
  background-position:  56px 0
.icon-tip3
  background-position:  109px 0

/* Love */
.love
  i 
    padding-top: 10%
    color: rgba($colordark,0.5)
    &:hover
      color: $primary
      transform: scale(1.5)
  p 
    line-height: 1.4rem
    margin-bottom: 0rem
  p.mini
    font-size: 0.9rem

/* Parallax Section */
.bg-1
  background: #ffdda2
  background: -webkit-radial-gradient(center,#ffdda2,#321101)
  background: -o-radial-gradient(center,#ffdda2,#321101)
  background: -moz-radial-gradient(center,#ffdda2,#321101)
  background: radial-gradient(ellipse at center, #ffdda2, #321101)
.ParalaxImage
  position: relative
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  background-attachment: scroll

.parallax-section
  width: 100%
  position: relative
  background-color: #ccc
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  .bg-opacity-1
    background-color: rgba(255, 255, 255, 0.2)
  .sovet
    padding: 80px
  .overlay-colored
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1
  .section-inner
    width: 100%
    height: 100%
    position: relative
    padding: 95px 0
    z-index: 1
    background-attachment: fixed
    background-position: top center
    background-size: cover
    background-repeat: no-repeat
    background: rgba(#000,0.5)
    h1 
      color: #fff
    .overl
      line-height: 80px
      border-radius: 50%
      z-index: 10
      background-color: rgba(0,0,0,0.5)
    i 
      padding-top: 10%
      &:hover
        color: $primary
    p 
      line-height: 1.2rem
    p.display-3
      line-height: 4.2rem
  .cta-title
    text-align: center
    .section-inner
      padding: 200px 0
    .colored
      color: $primary !important
    h1
      font-size: 48px
      text-transform: uppercase
      span
        color: #fff

/* Galery */

.coordinates
  position: absolute
  p 
    line-height: 1.2rem

.plus
  width: 40px
  height: 40px
  line-height: 40px
  background-color: #d90000
  color: white
  font-size: 20px
  text-align: center
  vertical-align: middle
  cursor: pointer
  border-radius: 100%

/* __________ Pagination __________ */
.pagination
  margin: 10px 0 10px
  padding: 0
  li
    width: 40px
    height: 40px
    border: 1px solid $colordark
    text-align: center
    line-height: 40px
    font-size: 18px
    color: $colordark
    border-radius: 50%
    margin: 0 20px 10px 0
    &.disabled, &.control
      display: none
    &.active, a.active
      color: $white
      border-color: $primary
      background-color: $primary2
    &:first-child
      border-radius: 50% 50% 50% 50%
    a
      color: $colordark
      display: block
      border-radius: 50%
      &:focus, &:hover, &:active
        background-color: $primary2
        color: $white
        border-color: $primary
.pagination > li:first-child > a,
.pagination > li:first-child > span
  border-radius: 50%
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
  background-color: $primary
  color: $white
  border-color: $primary2

/* __________ Popular Tags __________ */

.tags li
  display: inline-block
  margin: 0 3px 5px 0
  a
    display: block
    padding: 3px 8px
    font-size: 0.8rem
    border: 1px solid #e9e9e9
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out
    &:hover
      border: 2px solid $primary
  p
    line-height: 26px
    font-size: 16px

/* Footer */
footer
  font-size: 0.8rem
  line-height: 1.8rem
  border-top: 2px solid lighten($colordark, 60% )
  .footer-top
    background: $colorgrey none repeat scroll 0 0
    padding: 40px 0
    h6 
      font-weight: 600
      padding: 10px 0
      color: $primary
    nav
      margin: 0 0 10px 0

  .footer-bottom
    background: $colordark none repeat scroll 0 0
    color: $white
    a 
      color: $white
      &:hover, &:focus
        color: $primary

/*-- SOCIAL BUTTONS -------------- */

.social li
  display: inline-block
  margin: 0 7px 10px 0
  a
    display: block
    width: 40px
    height: 40px
    border: 1px solid $colordark
    text-align: center
    line-height: 40px
    font-size: 18px
    color: $colordark
    &:hover
      color: $primary
      border-color: $primary

/* go to top -----------------------------------*/
#backtotop
  z-index: 999
  display: inline-block
  position: fixed
  visibility: hidden
  bottom: 10%
  right: 20px
  width: 36px
  height: 36px
  line-height: 36px
  font-size: 16px
  text-align: center
  opacity: .2
  background: linear-gradient(to right, $colordark -100%, $primary 100%)
  color: $white
  i
    display: block
    width: 100%
    height: 100%
    line-height: inherit
  &.visible
    visibility: visible
    opacity: .5
  &:hover
    opacity: 1
    background: linear-gradient(to left, $primary -100%, $colordark 100%)

// Антиспам
.fr-name
  display: none