$main-family: 'SourceSansPro', sans-serif
$zag-family: 'SourceSansPro', sans-serif
$font-size: 1rem
$font-weight: 400
$line-height-content: 1.8

$colordark: #262626
$colordarkLight: lighten($colordark, 30% )
$primary: #ff3546
$primary2: #c60000
$primary3: #930204
$primaryDark: darken($primary, 6%)
$colorgrey: #f2f3f5
$gray-1: #ccc
$orange: #f89406

$colorKlasika: #ebccd1
$colorXaitek: purple
$colorModern: #7b68ee
$colorProvanc: #90ee90

$white: #fff

$red: #CB0215

$success:       #738d00
$success-hover: lighten($success, 10%)
$info:          #05bca9
$info-hover:    lighten($info, 10%)
$warning:       #f89406
$warning-hover: lighten($warning, 10%)
$danger:        #c10841
$danger-hover:  lighten($danger, 10%)

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width


%font-awesome
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)
